# ============================================================================
# FileFocus Environment Variables
# ============================================================================
# Copy this file to .env and adjust the values according to your setup
# ============================================================================

# Path to the license folder containing license files
#LICENSE_PATH=./license
# Jupyter notebook access token (default: filefocus)
#JUPYTER_TOKEN=filefocus

# ============================================================================
# GENERAL / VOLUME CONFIGURATION
# ============================================================================
# Path to the data folder that will be indexed by FileFocus
# using a relative path (e.g., ./datafolder) or an absolute path (e.g., C:\data\datafolder)
#DATAFOLDER=./datafolder
#DATAFOLDER=C:\data\datafolder

# using a network path (e.g., //10.220.0.210/data/datafolder) requires additional configuration for the network share type and options
#DATAFOLDER_TYPE=cifs
#DATAFOLDER_OPTS=addr=10.220.0.210,username=guest
#DATAFOLDER_OPTS=addr=10.220.0.210,username=<user>,password=<password>
#DATAFOLDER=//10.220.0.210/data/datafolder